<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Dari Universitas Indonesia Untuk Jambi</title>

        <head th:fragment="css">
            <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
            <link rel="stylesheet" th:href="@{/css/style.css}">
            <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
        </head>

        <head th:fragment="js">
            <script th:src="@{/js/bootstrap.min.js}"></script>
        </head>

    </head>

    <body>

        <!--<nav th:fragment="navbar-admin" class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand">
                <img class="d-inline-block align-top"
                     th:src="@{/img/Logo DUIUJ XV.png}"
                     style="width: 30px ; height: 30px ;" alt="">
                DUIUJ
            </a>

            <div class="collapse navbar-collapse" id="navbarAdmin">
                <ul class="nav nav-pills ml-auto">
                    <a class="nav-link disabled" th:text="'Total Pembeli : ' + ${totalTicket}"></a>
                </ul>
            </div>
        </nav>-->

        <!-- Navbar - Home (Active) -->
        <nav th:fragment="navbar-home" class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" th:href="@{/}">
                <img class="d-inline-block align-top"
                     th:src="@{/img/Logo DUIUJ XV.png}"
                     style="width: 30px ; height: 30px ;" alt="">
                 DUIUJ
            </a>
            <!-- Responsive Toggler -->
            <button class="navbar-toggler navbar-toggler-right border-0" type="button" data-toggle="collapse" data-target="#navbar1" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbar1">
                <ul class="nav nav-pills ml-auto">
                    <li class="nav-item text-center px-4">
                        <a class="nav-link active" th:href="@{/}">Home <span class="sr-only">(current)</span> </a>
                    </li>
                    <li class="nav-item text-center px-4 mx-auto">
                        <a class="nav-link" th:href="@{/main-event}">Main Event</a>
                    </li>
                    <li class="nav-item text-center px-4 mx-auto">
                        <a class="nav-link" th:href="@{/competition}">Kompetisi</a>
                    </li>
                </ul>
            </div>
        </nav>

        <!-- Navbar - Main Event (Active) -->
        <nav th:fragment="navbar-mainevent" class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" th:href="@{/}">
                <img class="d-inline-block align-top"
                     th:src="@{/img/Logo DUIUJ XV.png}"
                     style="width: 30px ; height: 30px ;" alt="">
                DUIUJ
            </a>
            <!-- Responsive Toggler -->
            <button class="navbar-toggler navbar-toggler-right border-0" type="button" data-toggle="collapse" data-target="#navbar2" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbar2">
                <ul class="nav nav-pills ml-auto">
                    <li class="nav-item text-center px-4">
                        <a class="nav-link" th:href="@{/}">Home <span class="sr-only">(current)</span> </a>
                    </li>
                    <li class="nav-item text-center px-4 mx-auto">
                        <a class="nav-link active" th:href="@{/main-event}">Main Event</a>
                    </li>
                    <li class="nav-item text-center px-4 mx-auto">
                        <a class="nav-link" th:href="@{/competition}">Kompetisi</a>
                    </li>
                </ul>
            </div>
        </nav>

        <!-- Navbar - Competition (Active) -->

        <nav th:fragment="navbar-competition" class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" th:href="@{/}">
                <img class="d-inline-block align-top"
                     th:src="@{/img/Logo DUIUJ XV.png}"
                     style="width: 30px ; height: 30px ;" alt="">
                DUIUJ
            </a>
            <!-- Responsive Toggler -->
            <button class="navbar-toggler navbar-toggler-right border-0" type="button" data-toggle="collapse" data-target="#navbar3" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbar3">
                <ul class="nav nav-pills ml-auto">
                    <li class="nav-item text-center px-4">
                        <a class="nav-link" th:href="@{/}">Home <span class="sr-only">(current)</span> </a>
                    </li>
                    <li class="nav-item text-center px-4 mx-auto">
                        <a class="nav-link" th:href="@{/main-event}">Main Event</a>
                    </li>
                    <li class="nav-item text-center px-4 mx-auto">
                        <a class="nav-link active" th:href="@{/competition}">Kompetisi</a>
                    </li>
                </ul>
            </div>
        </nav>

        <!-- Footer -->
        <footer th:fragment="footer">
            <div class="container" >
                <div class="row">
                    <div class="col-md-12 text-center">
                        <p>Kontak Kami</p>
                    </div>
                    <div class="col-md-12 d-flex align-items-center justify-content-center my-3">
                        <a href="https://twitter.com/DUIUJ15" target="_blank" class="socmed-link"><i class="fab fa-twitter fa-lg socmed-logo"></i></a>
                        <a href="https://www.instagram.com/duiuj/" target="_blank" class="socmed-link"><i class="fab fa-instagram fa-lg socmed-logo"></i></a>
                        <a href="http://line.me/ti/p/~@seu4244j" target="_blank" class="socmed-link"><i class="fab fa-line fa-lg socmed-logo"></i></a>
                        <a href="mailto:duiujxv15@gmail.com" target="_blank" class="socmed-link"><i class="fab fa-google fa-lg socmed-logo"></i></a>
                        <a href="https://www.facebook.com/groups/DUIUJ" target="_blank" class="socmed-link"><i class="fab fa-facebook-square fa-lg socmed-logo"></i></a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-center">
                        <p>© 2019 DUIUJ</p>
                    </div>
                </div>
            </div>
        </footer>
    </body>
</html>