<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title id="pageTitle">403 Forbidden</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
<nav th:replace="fragments/fragment :: navbar"></nav>

<div class="container jumbotron">
    <h1 class="display-3">Stop!😈</h1>
    <p class="lead">403 Forbidden: Kamu tidak memiliki izin untuk mengakses page ini.</p>
    <hr class="my-2">
    <p>Yuk semangat buat coba lagi!</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="/" role="button">Back Home</a>
    </p>
</div>

<footer th:replace="fragments/fragment :: footer"></footer>
</body>
</html>