:root {
    --primary: #ba0731;
    --secondary: #fbfef9;
    --dark: #000004;
}

.text-cp-1 {
    color: #ba0731 !important;
}
.text-cp-2 {
    color: #fbfef9 !important;
}

.li #bg-cp-1 {
    background-color: #ba0731;
}

.navbar-fixed-top {
    margin-bottom: 10rem;
}

a.nav-link {
    color: #ba0731;
    transition: 0.3s;
}

a.nav-link:hover{
    background-color: #ba0731;
    color: #FBFEF9;
}

input.placeholder {
    text-align: center;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    font-family: 'Quicksand', sans-serif;
}


.container {
    margin-top: 40px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
    background-color: #f5f5f5;
}

.resize-container {
    position: relative;
    display: inline-block;
    cursor: move;
    margin: 0 auto;
}

.resize-container img {
    display: block
}

.jumbotron{
    text-align: right;
    color: #FBFEF9;
    background-color: #666666;
}

.desc{
	width:35%;
	margin-left:auto; 
	margin-right:0;
}

.title-head{
    text-align: center;
}


p{
font-family: 'Quicksand', sans-serif;
margin: 0;
}

.top{
	text-align: center;
}

.col{
	padding-left: 5rem;
	padding-right: 5rem;
}

.input-group{
    border: 2px solid #ba0731;
    border-radius: 7px;
    margin-bottom: 0.5rem;
}


img{
	width:40px;
	height:40px;
	padding: 0.3rem;
}

.input-group-prepend{
	background-color: #ba0731;
	padding-right: 0.2rem;
    margin-right: 0;
}

.btn{
	background-color: #ba0731;
	border-radius: 50px;
	border-style: none;
	margin:auto;
  	display:block;
    transition: 0.3s;
}

.btn:hover{
    background-color: #de3c4b;
}


.btn-fin{
	background-color: #ffffff;
    border-radius: 50px;
    border: 2px solid #ba0731;
    margin:auto;
  	display:block;
  	color: #000000;
}

.title-head-pay{
	text-align: center;
	margin: 0.5rem;
}
.title-head-pay p{
	text-align: justify;
}

.perhatian{
	font-weight: bold;
}

.input-group .form-control {
  border: none;
}

.card-box {
	background: #FBFEF9;
	min-height: 300px;
	position: relative;
	padding: 30px 30px 20px;
	margin-bottom: 20px;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	position: relative;
	cursor: pointer;
    transition: 0.3s;
}

.card-box:hover {
	background: linear-gradient(to right, #e1e4e0 0%, #fdfefc 51%, #ffffff 100%);
}

.card-box:after {
	display: block;
	background: #ba0731;
	border-top: 2px solid #ba0731;
	content: '';
	width: 100%;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
}

.card-title h2 {
    padding-top: 5%;
	color: #ba0731;
	font-family: 'Quicksand', sans-serif;
	text-transform: uppercase;
	font-size: 24px;
	line-height: 1;
    margin: 0 0 15px;
}

.card-title p {
    margin: 0 0 10px;
}

/**
#checkStatus .form-control{
	border-color: #ba0731;
	border-width: 2px;
}**/

.col-lg-6{
	padding-top: 1.2rem;
	padding-bottom: 1.2rem;
}

li .active{
	background-color: #ba0731 !important;
	color: white;
}

section {
    min-height: calc(100vh - 100px);
}
footer{
    height: 100px;
    color: #ba0731;
    padding-top: 10px;
}

.socmed-link{
    margin-left: 5px;
    margin-right: 5px;
    color: #ba0731;
    transition: 0.3s;
}

.socmed-link:hover{
    color: #000004;
}

.center-pills {
	display: flex;
	justify-content: center;
}

