<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>

        <!-- Required Meta Tags -->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device=width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
        <object th:include="fragments/fragment :: css" th:remove="tag"></object>
        <object th:include="fragments/fragment :: js" th:remove="tag"></object>

        <title>DUIUJ - Admin</title>

    </head>
    <body>
         <!--Navbar-->
        <!--<nav th:replace="fragments/fragment :: navbar-admin"></nav>-->

        <table class="table table-active table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nama Lengkap</th>
                    <th scope="col">Asal Sekolah</th>
                    <th scope="col">Nomor Handphone</th>
                    <th scope="col">Kode Tiket</th>
                    <th scope="col">Pilihan Jurusan 1</th>
                    <th scope="col">Pilihan Jurusan 2</th>
                    <th scope="col">Pilihan Jurusan 3</th>
                    <th scope="col">Status</th>
                    <th scope="col">Hapus</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="ticket, iterationStatus : ${tickets}">
                    <td th:text="${iterationStatus.count}"></td>
                    <td> <a th:href="@{'/ticket/check/kode?kodeTiket=' + ${ticket.kodeTiket}}" th:text="${ticket.namaLengkap}"/></td>
                    <td th:text="${ticket.asalSekolah}"></td>
                    <td th:text="${ticket.nomorHandphone}"></td>
                    <td th:text="${ticket.kodeTiket}"></td>
                    <td th:text="${ticket.pilihanJurusan1}"></td>
                    <td th:text="${ticket.pilihanJurusan2}"></td>
                    <td th:text="${ticket.pilihanJurusan3}"></td>
                    <td th:if="${ticket.statusPembayaran == 0}">
                        <form th:action="@{|/admin/ticket/changeStatus/${ticket.id}|}" method="post">
                            <button type="submit" class="btn btn-light">
                                <span style="font-size: 1em;"><i class="fa fa-times"></i> </span>
                            </button>
                        </form>
                    </td>
                    <td th:if="${ticket.statusPembayaran == 1}">
                        <form th:action="@{|/admin/ticket/changeStatus/${ticket.id}|}" method="post">
                            <button type="submit" class="btn btn-light">
                                <span style="font-size: 1em;"><i class="fa fa-check"></i></span>
                            </button>
                        </form>
                    <td>
                        <form th:action="@{|/admin/ticket/delete/${ticket.id}|}" method="post">
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>

        <!-- Scripts -->

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


    </body>
</html>