<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta charset="UTF-8">

        <!-- CSS and JS Bootstrap -->
        <object th:include="fragments/fragment :: css" th:remove="tag"></object>
        <object th:include="fragments/fragment :: js" th:remove="tag"></object>

        <title>Dari Universitas Indonesia Untuk Jambi - Cek Status</title>
    </head>

    <body>
        <nav th:replace="fragments/fragment :: navbar"></nav>

        <div class="container">
            <div class="row">

            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-8 card text-center" style="margin-top: 20px; margin-bottom: 20px;">
                    <div class="card-header">
                        <h3>Cek Status Tiketmu</h3>
                    </div>
                    <div class="card-body">
                        <p class="card-text">Kamu ragu bahwa tiketmu sudah <i>valid</i>? Langsung saja cek status tiketmu! Masukkan kode tiket yang sudah diberikan saat kamu memesan tiket.</p>
                        <form th:action = "@{/ticket/check/kode}" method="get">
                            <input required class="form-control input-group-sm" placeholder="Kode Tiket" th:name="kodeTiket"/>
                            <br/>
                            <button type="submit" class="btn btn-danger">Cek Sekarang</button>
                        </form>
                    </div>
                </div>
                <div class="col-lg-2"></div>
               <!-- <div class="col-lg-6 card text-center" style="margin-top: 20px; margin-bottom: 20px;">
                    <div class="card-header">
                        <h3>Lupa Kode Tiket</h3>
                    </div>
                    <div class="card-body">
                        <p class="card-text">Kamu lupa kode tiketmu? Jangan khawatir! Kami bisa bantu pulihkan kode tiketmu! Masukkan nama lengkap dan nomor handphone yang sudah kamu daftarkan sebelumnya</p>
                        <form th:action="@{/ticket/check/pulih}" method="get">
                        <div class="row">
                            <div class="col-md-6">
                                <input required class="form-control input-group-sm" placeholder="Nama Lengkap" th:name="namaLengkap"/>
                            </div>
                            <div class="col-md-6">
                                <input required class="form-control input-group-sm" placeholder="Nomor Handphone" th:name="nomorHandphone"/>
                            </div>
                        </div>
                            <br/>
                            <button type="submit" class="btn btn-danger">Pulihkan Kode Tiket</button>
                        </form>
                    </div>
                </div>-->
            </div>
        </div>
    </body>
</html>