<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <!-- CSS and JS Bootstrap -->
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>Dari Universitas Indonesia Untuk Jambi - Kompetisi</title>
</head>
<body>
<nav th:replace="fragments/fragment :: navbar-competition"></nav>

    <div class="container-fluid">
        <div class="row">
            <div class="jumbotron" style="background-color: #FBFEF9">
                <p class="text-dark">DUIUJ 15</p>
                <h1 class="display-4 text-dark">Kompetisi</h1>
                <p class="desc text-dark">Lorem ipsum dolor sit amet, pri phaedrum salutandi id. Vidisse expetendis adipiscing et per.
                    Vis in quaestio pericula, quodsi habemus te duo. Ea his omnis velit. Duo ex meis suavitate, vero fabulas voluptatibus mei.</p>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row align-content-lg-center">
            <div class="col-lg-4">
                <div class="card-box">
                    <img src="..." class="card-img-top" height="320" width="170">
                    <div class="card-body">
                        <div class="card-title">
                            <h2>Kompetisi 1</h2>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc maximus, nulla ut commodo sagittis, sapien
                                dui mattis dui, non pulvinar lorem felis nec erat</p>
                            <br/>
                            <div class="card-link">
                                <a href="#" class="c-link btn btn-primary">Unduh Rulebook</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card-box">
                    <img src="..." class="card-img-top" height="320" width="170">
                    <div class="card-body">
                        <div class="card-title">
                            <h2>Kompetisi 2</h2>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc maximus, nulla ut commodo sagittis, sapien
                                dui mattis dui, non pulvinar lorem felis nec erat</p>
                            <br/>
                            <div class="card-link">
                                <a href="#" class="btn btn-primary c-link">Unduh Rulebook</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card-box">
                    <img src="..." class="card-img-top" height="320" width="170">
                    <div class="card-body">
                        <div class="card-title">
                            <h2>Kompetisi 3</h2>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc maximus, nulla ut commodo sagittis, sapien
                                dui mattis dui, non pulvinar lorem felis nec erat</p>
                            <br/>
                            <div class="card-link">
                                <a href="#" class="btn btn-primary c-link">Unduh Rulebook</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<footer th:replace="fragments/fragment :: footer"></footer>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

</body>
</html>