<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Log In</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>


<div class="container">
    <div class="row justify-content-center">
        <h1>Dari Universitas Indonesia Untuk Jambi</h1>

    </div>
    <div class="row justify-content-center">
        <blockquote class="blockquote">
            <p class="mb-0">#MelangkahBaeDulu</p>
        </blockquote>
    </div>
    <br>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header" style="text-align: center">
                    Log In
                </div>
                <div class="card-body">
                    <form th:action="@{/login}" method="POST">
                        <div class="row form-group">
                            <label class="col-sm-4">Email</label>
                            <input required type="text" class="col-sm-8 form-control input-sm" name="email">
                        </div>
                        <div class="row form-group">
                            <label class="col-sm-4">Password</label>
                            <input required type="password" class="col-sm-8 form-control input-sm" name="password">
                        </div>
                        <div class="row form-group col-sm">
                            <button type="submit" class="btn btn-primary">Log In</button>
                        </div>
                    </form>
                    <div class="row justify-content-center">
                        <p>Belum punya akun? <a th:href="@{/signup}">Sign Up</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer th:fragment="footer">
        <div class="container" style="text-align: center; font-size: 14px; ">
            <p>©Ricky Chandra Johanes, Winda Wijaya, Kristianto, Rebecca La Volla Nyoto</p>
        </div>

        <script th:src="@{/js/bootstrap.min.js}"></script>
    </footer>
</body>

</html>