<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <!-- CSS and JS Bootstrap -->
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>

    <title>Dari Universitas Indonesia Untuk Jambi - Pemesanan Berhasil!</title>
</head>
<body>
<nav th:replace="fragments/fragment :: navbar-mainevent"></nav>

    <div class="container-fluid">
        <div class="row">
            <div class="jumbotron" style="background-color: #FBFEF9";>
                <p class="text-dark">DUIUJ 15</p>
                <h1 class="display-4 text-dark">Main Event</h1>
                <p class="desc text-dark">Rangkaian acara pada DUIUJ XV terdiri atas Goes To School, Try Out, dan Bedah Kampus yang akan mewadahi siswa - siswi SMA sederajat Provinsi Jambi dalam mendapatkan informasi mengenai Universitas Indonesia.
                    Adapun <i>Main Event</i> mencakup kegiatan Try Out dan Bedah Kampus. Ayo segera daftarkan dirimu sebelum kehabisan tiket!
                </p>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="title-head-pay">
                <h3 th:text="'Selamat, ' + ${ticket.namaLengkap} + '! Tiket Main Event berhasil dipesan!'"></h3>
                <h4 th:text="'Kode tiketmu adalah: '+${ticket.kodeTiket}">Kode Tiket</h4>
                <div class="perhatian">
                    <br>
                    <h4>Perhatian</h4>
                    <p>Jangan pernah memberitahukan kode tiketmu kepada siapapun. Panitia tidak bertanggung jawab atas seluruh tindakan kriminal terhadap tiketmu. Kode tiket akan digunakan untuk registrasi ulang pada saat Main Event berlangsung.
                        Silakan cek status tiketmu pada halaman <a th:href="@{/main-event}"><i >Main Event</i></a> dan lakukan pembayaran segera agar status tiketmu <i>valid.</i></p>
                    <br>
                    <p>Pembayaran dapat dilakukan melalui 3 cara, yaitu : <br>
                        1. Transfer ke rekening BNI dengan No. Rekening 0536033356 atas nama Natasya Meidiana. <br>
                        2. Pembayaran tunai kepada Panitia DUIUJ XIV di DomeSteak sesuai Office Hours (Senin s.d. Jumat - 14.00 WIB s.d. 17.00 WIB). <br>
                        3. Pemesanan dan pembayaran melalui Bendahara kelas.
                    </p>
                    <br>
                    <p>
                        <b>Setelah melakukan pembayaran, Anda perlu melakukan konfirmasi pembayaran dengan cara - cara sebagai berikut.</b><br>
                        1. Jika Anda membayar melalui rekening BNI, silakan melakukan konfirmasi pembayaran dengan mengirim email ke duiujxv@gmail.com dengan subjek "Konfirmasi | Nama Anda" dan isi berupa foto bukti pembayaran Anda.
                        Contoh : Konfirmasi | Nissa Sabyan<br>
                        2. Jika Anda melakukan pembayaran tunai kepada Panitia DUIUJ XIV, maka pastikan Anda menuliskan nama Anda dan alamat email pada kertas yang telah disediakan panitia.<br>
                        3. Jika Anda melakukan pembayaran tunai melalui Bendahara kelas, maka pastikan Anda menuliskan nama Anda dan alamat email pada kertas yang telah dititipkan panitia melalui Bendahara kelas.<br>
                    </p>
                </div>
                <br>
                <p>Silakan menghubungi panitia untuk pertanyaan lebih lanjut.</p>
            </div>
            <a class="btn btn-danger btn-fin" th:href="@{/main-event}">Selesai Memesan</a>
        </div>
    </div>
<footer th:replace="fragments/fragment :: footer"></footer>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>