<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <!-- CSS and JS Bootstrap -->
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>

    <title>Dari Universitas Indonesia Untuk Jambi - Main Event</title>
</head>
<body>
<nav th:replace="fragments/fragment :: navbar-mainevent"></nav>

    <div class="container-fluid">
        <div class="row">
            <div class="jumbotron" style="background-color: #FBFEF9";>
                <p class="text-dark">DUIUJ 15</p>
                <h1 class="display-4 text-dark">Main Event</h1>
                <p class="desc text-dark">Rangkaian acara pada DUIUJ XV terdiri atas Goes To School, Try Out, dan Bedah Kampus yang akan mewadahi siswa - siswi SMA sederajat Provinsi Jambi dalam mendapatkan informasi mengenai Universitas Indonesia.
                    Adapun <i>Main Event</i> mencakup kegiatan Try Out dan Bedah Kampus. Ayo segera daftarkan dirimu sebelum kehabisan tiket!
                </p>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row text-center">
            <div class="col-lg-2"></div>
            <div class="col-lg-8 text-center" style="margin-top: 20px; margin-bottom: 20px;">
                <h4>Dari Universitas Indonesia Untuk Jambi</h4>
                <p><i>Online Ticketing System</i></p>
                <br/>
                <div class="card">
                    <div class="card-header" align="center" style="font-weight: bold;">
                        Ubah Data Diri
                    </div>
                    <div class="card-body">
                        <form th:action="@{/main-event/ticket/ubah}" th:object="${ticket}" method="POST">
                            <input type="hidden" name="id" th:value="${ticket.id}"/>
                            <input type="hidden" name="kodeTiket" th:value="${ticket.kodeTiket}"/>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <label> <img alt="Social 1" src="https://i.imgur.com/Hnr7rWe.png" /> </label>
                                </div>
                                <input required type="text" class="form-control input-group-sm" name="namaLengkap" th:value="*{namaLengkap}" placeholder="Nama Lengkap">
                            </div>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <label> <img alt="Social 1" src="https://i.imgur.com/2fyHJfJ.png" /> </label>
                                </div>
                                <input required type="text" class="form-control input-group-sm" name="asalSekolah" th:value="*{asalSekolah}" placeholder="Asal Sekolah">
                            </div>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                    <label> <img alt="Social 1" src="https://i.imgur.com/DxUvnsW.png" /> </label>
                                </div>
                                <input required type="text" class="form-control input-group-sm" name="nomorHandphone" th:value="*{nomorHandphone}" placeholder="Nomor Handphone">
                            </div>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <label> <img alt="Social 1" src="https://i.imgur.com/yV0AIbP.png" /> </label>
                                </div>
                                <input required type="text" class="form-control" name="pilihanJurusan1" th:value="*{pilihanJurusan1}" placeholder="Pilihan Program Studi 1">
                            </div>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <label> <img alt="Social 1" src="https://i.imgur.com/yV0AIbP.png" /> </label>
                                </div>
                                <input type="text" class="form-control" name="pilihanJurusan2" th:value="*{pilihanJurusan2}" placeholder="Pilihan Program Studi 2">
                            </div>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <label> <img alt="Social 1" src="https://i.imgur.com/yV0AIbP.png" /> </label>
                                </div>
                                <input type="text" class="form-control" name="pilihanJurusan3" th:value="*{pilihanJurusan3}" placeholder="Pilihan Program Studi 3">
                            </div>
                            <br/>
                            <button type="submit" class="btn btn-danger btn-lg">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-2"></div>
        </div>
    </div>

<footer th:replace="fragments/fragment :: footer"></footer>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>